*{
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
	height: 33.33vh;
	width: 100vw;
}
#top, #middle,#bottom{
	height: 100%;
}
#top{
 background-color: #EE9933;
}
#bottom {
 background-color: #138808;
}
#middle{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000080;
	font-size: 50px;
	font-family: 'Permanent Marker', cursive;
}