.appBanner {
    background: url('../images/app-dev-banner.png');
    background-position: center;
    height: 50vh;
    /* background-image: linear-gradient(to right, white, rgba(37, 36, 36, 0.3)); */
}



 /* service cards css */

 .serviceCard {
    flex: 0 1 24%;
    min-height: 420px;
    background: linear-gradient(148.66deg, #f3f2f2 0.95%, #d7ffef 96.19%);
    border-radius: 15px;
    margin: 10px 10px;
  }
  
  .serviceCardText {
    padding: 10px 15px;
  
    text-align: left;
  }
  
  @media only screen and (max-width: 480px) {
    .serviceCard {
      margin: 5px 5px;
    }
  
    .serviceCardText {
      padding: 10px 18px;
      font-size: 18px;
    }
  }
  
  .colMd4 :hover {
    animation-duration: 300ms;
    filter: drop-shadow(0px 10px 20px rgba(15, 72, 48, 0.075));
  }
