/* for compleete page */
/* for phones */

.hero {
  height: 100vh;
  background: url(../images/aarhat_bg.png) no-repeat right center;
  background-size: 650px 600px;
}

@media only screen and (max-width: 480px) {
  .hero {
    /* background-image: none ! important; */
    height: 85vh;
    width: 100%;
    background: url(../images/aarhat_bg.png) no-repeat top
      center;
    background-size: 100% auto;
  }
}

.content {
  max-width: 50em;
  margin: 0 auto;
  position: relative;
}

.greeenBox {
  position: absolute;
  height: 100px;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
  background: #4cd49d;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
  margin-top: 150px;
  transform: rotate(5deg);
  overflow-y: auto;
  overflow-x: hidden;
}

.aBtn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background: #4bd39c;
  border: 1px solid #ffffff;
  border-radius: 15px;
  font-weight: normal;
  padding: 10px 25px;
  color: white;
}

.aBtn:hover {
  transform: translateY(-5px);
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  border: 1px solid #4bd39c;
  background: #4bd39c;
  box-shadow: 0px 4px 15px rgba(75, 211, 156, 0.5);
  border-radius: 15px;
}

.cBtn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background: #4bd39c;
  border: 1px solid #ffffff;
  border-radius: 15px;
  font-weight: bold;
  font-size: 22px;
  padding: 20px 35px;
  color: white;
  transition: all 0.3s ease;
}

.cBtn:hover {
  color: #fff;
  transform: translateY(-5px);
  border: 1px solid #4bd39c;
  background: #4bd39c;
  box-shadow: 0px 4px 15px rgba(75, 211, 156, 0.5);
  border-radius: 15px;
}

.heading {
  color: #333;
  font-family: Poppins;
  font-style: normal;
  font-weight: bolder;
  font-size: 50px;
  line-height: 118%;
}

.mainImg {
  margin-top: 50px;
  height: 70vh;
}

/* services section */

.serviceCard {
  flex: 0 1 24%;
  min-height: 420px;
  background: linear-gradient(148.66deg, #f3f2f2 0.95%, #d7ffef 96.19%);
  border-radius: 15px;
  margin: 10px 10px;
}

.serviceCardText {
  padding: 10px 15px;

  text-align: left;
}

@media only screen and (max-width: 480px) {
  .serviceCard {
    margin: 5px 5px;
  }

  .serviceCardText {
    padding: 10px 18px;
    font-size: 18px;
  }
}

.colMd4 :hover {
  animation-duration: 300ms;
  filter: drop-shadow(0px 10px 20px rgba(15, 72, 48, 0.075));
  text-decoration: none;
}

/* special offer section css */

.offersCard {
  background: #ffffff;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.specialgreeenbox {
  position: absolute;
  height: 100px;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
  background: #4cd49d;
  margin-top: 320px;
  transform: skewY(-8deg);
}

.cardHeading {
  color: #4cd49d;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
}

.price {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 134%;
  /* identical to box height, or 34px */
  color: #4cd49d;
  text-align: center;
  text-transform: capitalize;
}

.availOffer {
  background: #4cd49d;
  border-radius: 15px 0px;
  color: white;
}

.specialImg {
  height: 20vh;
  margin-bottom: 50px;
}
/* special offer sction css  ends here*/

/* contactus section */

.contactusSection {
  margin-top: 100px;
  height: 80vh;
  background-image: url("../images/contacus-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.contactBgImg {
  position: absolute;
  margin-top: 5vh;
  z-index: -1;
  height: 75vh;
  width: 100%;
}

.contactRow {
  margin-right: 0px;
  margin-left: 0px;
}

.contatForm {
  position: absolute;
  width: 100%;
  background: #ffffff;
  z-index: 2;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.contactHeading {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 134%;
  /* or 60px */
  text-transform: capitalize;
  color: #000000;
}

.contactInput {
  height: 50px;
  background-color: #e6e6e6;
  border-bottom: 4px solid #4cd49d;
}

.sendBtn {
  background: #4cd49d;
  border-radius: 15px 0px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 134%;
  /* identical to box height, or 34px */
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}


.sendBtn:hover {
  color: #fff;
  border: 1px solid #4bd39c;
  background: #4bd39c;
  box-shadow: 0px 4px 15px rgba(75, 211, 156, 0.5);
}
.endBtn {
  background: #e40b03;
  border-radius: 15px 0px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 134%;
  /* identical to box height, or 34px */
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}
.endBtn:hover {
  color: #fff;
  border: 1px solid #e01515;
  background: #f10404;
  box-shadow: 0px 4px 15px rgba(75, 211, 156, 0.5);
}

.gt {
  vertical-align: bottom;
  font-size: 40px;
  font-weight: normal;
}

.contactPills {
  background: #ffffff;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  /* height: 100px; */
  min-height: 0.5em;
}

.pillHeading {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 134%;
  /* or 40px */
  text-transform: capitalize;
  color: #4cd49d;
}

.cAddress {
  font-weight: 500;
  color: #000000;
  padding: 5px 10px;
}

.pillIcon {
  color: #555;
  position: absolute;
  float: left;
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: #fff;
  border-radius: 50px;
  margin-left: -30px;
  margin-top: 20px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  font-size: 22px;
}

.phone {
  color: #ddd;
}

/* mobile css */

@media only screen and (max-width: 480px) {
  .contactusSection {
    display: block;
    height: 80vh;
  }

  .contatForm {
    position: relative;
    display: block;
    z-index: 1;
    width: 100%;
    /* position: relative; */
  }

  /* .contactInfoCard {

  } */

  .contactRow {
    margin: 0px 0px;
    height: 240vh;
  }

  .noPadding {
    padding: 10px 0px;
  }

  /* .pillIcon {
     margin-left: 10px; 
   }  */

  .contactPills {
    margin-left: 20px;
  }
}
/* contactus section */

/* footer css */
