
/* portfolio nav section */
.portfolioNav {
    /* height: 100vh; */
}

.portNav {
    background: #FFFFFF;
    /* Cards */
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 5px 15px;

    height: 42px;
    font-size: 0.8em;
    transition: 0.3s ease-in;
}

.portNav ul>li a {
    padding-bottom: 5px;
    padding-top: 5px;
    border: 3px solid #f8f9fa;
    transition: 0.3s ease-in;
}

.portNav ul>li:hover a {
    color: #4CD49D !important;
    border-bottom: 3px solid #4CD49D;

}
.active{
    color: #4CD49D !important;
    border-bottom: 3px solid #4CD49D;
}
